[maxscale]
threads=auto
admin_host=0.0.0.0
admin_port=8989
admin_enabled=true
admin_gui=true
admin_secure_gui=false

[dbserver1]
type=server
address=172.17.0.1
port=4001
protocol=MariaDBBackend

[dbserver2]
type=server
address=172.17.0.1
port=4002
protocol=MariaDBBackend

[Replication-Monitor]
type=monitor
module=mariadbmon
servers=dbserver1,dbserver2
user=root
password=password
replication_user=repl_user
replication_password=repl_password
auto_failover=true
auto_rejoin=true

[Read-Only-Service]
type=service
router=readconnroute
servers=dbserver1,dbserver2
router_options=slave
user=maxscale
password=maxscale_pw

[Read-Write-Service]
type=service
router=readwritesplit
servers=dbserver1,dbserver2
user=maxscale
password=maxscale_pw

[Read-Only-Listener]
type=listener
service=Read-Only-Service
protocol=MariaDBClient
port=4006

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
port=4008